#pio-table-wrapper {
  .download-campaign-data {
    float: right;
    margin-right: 15px;
    top: -8px;

    .download-links {
      position: relative;
      top: -7px;
      font-size: 12px;
      padding: 5px;
    }

    .seperate-links:hover {
      text-decoration: underline;
      cursor: grab;
    }
  }

  .MuiDataGrid-footerContainer {
    display: none;
  }

  .download-campaign-data:hover {
    color: darkslategray;
  }

  #table-column-header {
    position: relative;
    white-space: nowrap;

    .name-text-selected {
      position: relative;
      top: -3px;
    }

    .sort-direction-arrow {
      margin-left: 10px;
      width: 18px;
      position: relative;
      right: 2px;
      top: 5px;
      color: #1B76D2;
    }

    .name-text-selected:hover {
      text-decoration: underline darkslategray;
    }

    .name-text:hover {
      text-decoration: underline darkslategray;
    }

    .sort-direction-arrow:hover {
      text-decoration: underline darkslategray;
    }
  }
}

#campaign-bar-chart-wrapper {
  .chart-placeholder {
    margin-left: 45%;
    margin-top: 30%;
    width: 100%;
    position: relative;
    margin: 0 auto;
  }
}